header {
    margin-bottom: -65px;
}

.center {
    text-align: center;
}

.profile {
    width: 480px;
    height: 250px;
    padding-right: 2.5em;
}

#loginContainer {
    padding: 16px;
    text-align: center;
    top: 50%;
    margin: 10% auto 0 auto;
}